html,
body {
    padding: 0;
    margin: 0;
    background: white;
    font-family: 'Montserrat', sans-serif;
    ;
}

body {
    font-size: 16;
}

* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}


/* HEADER */

#header {
    background-color: #363d41;
    padding: 13px 0;
    color: white;
}

.header-left {
    padding-left: 85px;
}

.header-right {
    padding-right: 75px;
}

.header-left i {
    text-align: center;
    margin-right: 30px;
    transition: all .5s;
    cursor: pointer;
}

.header-left .fa-facebook-f:hover {
    color: #527dbd;
}

.header-left .fa-twitter:hover {
    color: #1da1f2;
}

.header-left .fa-google-plus-g:hover {
    color: #dd4b39;
}

.header-left .fa-linkedin-in:hover {
    color: #0077b5;
}


/* NAVBAR */

.navbar-brand {
    padding-top: 0px;
    margin-right: 0;
}

.navbar-brand h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 200;
    padding-bottom: 0;
    color: #868c94;
    letter-spacing: 2px;
    ;
}

.navbar-brand h2 span {
    color: #7f67f8;
    font-weight: bold !important;
    font-size: 35px;
    font-weight: 500;
}

.header-nav {
    padding: 15px 80px;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    color: black;
    transition: all
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #7f67f8!important;
}

.nav-link.active {
    color: #7f67f8!important;
}


/* CAROUSEL */

.carousel-bg {
    background-size: cover;
    background-repeat: none;
    height: 700px;
    opacity: 2;
    background-image: url(../img/b1.jpg);
}

.carousel-indicators li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: 3px;
    margin-bottom: 30px;
    text-indent: -999px;
    background-color: white;
}

.carousel-indicators .active {
    background-color: #7f67f8;
}

.container {
    padding-top: 200px;
}

.carousel-inner h1 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.4em;
    letter-spacing: .2em;
    font-weight: 400;
}

.carousel-inner p {
    font-size: 15px;
    color: #fff;
    line-height: 28px;
    margin: 20px auto 40px;
    width: 86%;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.carousel-inner .btn--about-us {
    background-color: transparent;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
    border: 2px solid white;
    border-radius: 0;
    transition: all .5s;
}

.carousel-inner a {
    text-decoration: none;
    color: white;
}

.carousel-inner .btn--about-us:hover {
    background-color: #7f67f8;
    border: 2px solid #7f67f8;
}

.btn--active {
    background-color: #7f67f8;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
    border: 2px solid #7f67f8;
    border-radius: 0;
    out-line: none;
    transition: all .5s;
}

.btn--active:hover {
    background-color: transparent;
    font-size: 16px;
    color: white;
    text-transform: capitalize;
    border: 2px solid white;
    border-radius: 0;
}

.btn-outline-light.focus,
.btn-outline-light:focus {
    box-shadow: none;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none;
    ;
}

.modal-header .close {
    padding: 1rem;
    margin: -8px 0 0 -15px;
    ;
}

.modal-header h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #7f67f8;
}

.modal-content p {
    font-size: 14px;
    color: #777;
    line-height: 28px;
    margin: 20px auto 10px;
    width: 95%;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.close:focus {
    color: #000;
    text-decoration: none;
    opacity: .75;
    outline: none;
}

.ul {
    list-style: circle;
}

.what-you-get {
    padding-top: 80px;
}

.what-you-get__h1 {
    font-size: 60px;
    color: #2c363e;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

.line {
    height: 1.5px;
    width: 60%;
    background-color: #e8e8e8;
    margin: 68px auto 40px;
}

.what-you-get__p {
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    color: #5e5e5e;
    line-height: 1.8em;
    letter-spacing: 1px;
}

.block-2 i {
    font-size: 40px;
    color: #f97c69;
}

.block-2 h3 {
    font-size: 22px;
    color: #151515;
    letter-spacing: .075em;
    font-weight: 600;
    text-transform: capitalize;
    margin: 20px 0;
}

.block-2 p {
    font-size: 17px;
    margin: 0;
    color: #777;
    font-weight: 400;
    line-height: 1.8em;
}

.block-2 {
    margin-bottom: 60px;
}

.icon-2 {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

.block-2 div {
    padding: 0 18px;
}

.block-3 {
    background-image: url(../img/3.jpg);
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 280px;
}

.block-3 h2 {
    color: #fff;
    letter-spacing: 4px;
    font-size: 39px;
    padding: 90px 60px;
}

.block-3 button {
    font-size: 17px;
    color: white;
    background-color: #7f67f8;
    padding: 10px 40px;
    border-radius: 0;
    transition: all .5s;
}

.block-3 button:hover {
    background-color: #f97c69;
}

.contact-button {
    padding: 100px 0 35px;
}

.number-1 {
    margin-top: -100px;
}

.number-1 h3 {
    font-size: 40px;
    width: 65%;
    line-height: 1.2em;
    margin: 0 auto;
    color: #2c363e;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

.number-1 p {
    font-size: 15px;
    color: #777;
    margin: 1em 0 5em;
}

.number-2 span {
    font-size: 3.5em;
    font-weight: 700;
    letter-spacing: 2px;
    color: #f97c69;
    margin: 0 0 0.2em 0;
}

.number-2 h4 {
    font-size: 20px;
    color: #2c363e;
    letter-spacing: 2px;
    font-weight: 600;
}

.number-2 p {
    font-size: 15px;
    margin-top: 0.8em;
    color: #777;
}

.mainSevices {
    background-image: url(../img/3.jpg);
    background-size: cover;
    background-repeat: none;
    height: 860px;
    margin-top: 60px;
}

.row-1 {
    margin-top: -130px;
    margin-bottom: 50px;
    color: white;
}

.row-1 h2 {
    font-size: 50px;
}

.row-1 p {
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    line-height: 1.8em;
    letter-spacing: 1px;
}

.row-2 i {
    font-size: 40px;
}

.row-2 h3 {
    text-transform: capitalize;
    font-size: 1.5em;
    margin: 1em 0;
    letter-spacing: 2px;
    font-weight: 600;
}

.row-2 p {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}

.row-2 {
    width: 95%;
    margin: auto;
}

.row-2__1,
.row-2__3,
.row-2__5 {
    color: white;
    background: #f97c69;
    padding: 45px 15px;
}

.row-2__2,
.row-2__4,
.row-2__6 {
    color: black;
    background: white;
    padding: 45px 15px;
}

.row-2__2 i,
.row-2__4 i,
.row-2__6 i {
    color: #f97c69;
}


/* Customer */

.customer {
    margin-bottom: 80px;
}

.customer-1 {
    margin-top: -120px;
}

.customer-2 {
    margin-top: 80px;
}

.owl-carousel .owl-item img {
    display: block;
    width: 28%!important;
    border: 5px solid #7f67f8;
    border-radius: 50%;
    margin: auto;
}

.customer-1 h2 {
    font-size: 3em;
    color: #2c363e;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}

.customer-1 p {
    font-size: 15px;
    text-align: center;
    margin: 20px auto;
    width: 60%;
    color: #5e5e5e;
    line-height: 1.8em;
    letter-spacing: 1px;
}

.customer-2 h2 {
    text-transform: capitalize;
    color: #2c363e;
    font-size: 20px;
    font-weight: 600;
    margin: 20px auto;
    letter-spacing: 2px;
}

.customer-2 p {
    font-size: 14px;
    color: #777;
    line-height: 24px;
    padding: 0 20px;
    letter-spacing: 1px;
}

.customer-2 .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 80px;
}

.customer-2 .owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    background: #f97c69;
    opacity: 0.5;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    cursor: pointer;
}

.customer-2 .owl-theme .owl-dots .owl-dot.active span {
    background: #f97c69;
    opacity: 1;
}

.customer-2 .owl-theme .owl-dots .owl-dot:hover span {
    background: #f97c69;
    opacity: 1;
}

.customer-2 .owl-theme .owl-dots .owl-dot:focus span {
    outline: 0;
}

.customer-2 button:focus {
    outline: none;
}

.contact-background {
    background: #0b0c11;
}

.contact {
    padding: 60px 0;
    width: 85%;
}

.contact h2 {
    font-size: 1.7em;
    color: #f97c69;
    margin-bottom: 1.5em;
    letter-spacing: 2px;
}

.contact-1__1 p {
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 2em;
    letter-spacing: 1.5px;
    color: #bfbfbf;
}

.contact-1__1 input {
    padding: 14px 15px;
    width: 80%;
    font-size: 16px;
    color: white;
    background: #0b0c11;
    outline: none;
    border: 1px solid white;
}

.contact-1__1 button {
    padding: 14px 20px;
    margin-left: -6px;
    border: 1px solid white;
    background: #7f67f8;
    cursor: pointer;
}

.contact-1__1 i {
    font-size: 20px;
    color: white;
}

.contact-1__2 li {
    list-style: none;
    margin-bottom: 10px;
}

.contact-1__2 ul {
    padding: 0;
}

.our-Link a {
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
}

.contact-Us i {
    color: #f97c69;
    margin-right: 10px;
}

.contact-Us ul li {
    margin-bottom: 20px;
}

.contact-Us span,
.contact-Us a {
    font-size: 16px;
    color: #bfbfbf;
    padding: 0;
    text-decoration: none;
}

.contact-Us label {
    font-size: 16px;
    color: #bfbfbf;
    margin-left: 30px;
}

.px-2 {
    padding-left: 0!important;
}


/* footer */

.footer {
    background-color: #252525;
    margin-bottom: 0;
}

.footer p {
    font-size: 18px;
    color: white;
    padding: 20px 0;
    margin: 0!important;
}


/* Media query */

@media (max-width: 767.98px) {
    /* header */
    .header-left {
        padding-left: 15px;
        width: 50%;
    }
    .header-right {
        padding-right: 15px;
        width: 50%;
    }
    /* navbar */
    .navbar-brand h2 {
        margin-left: -69px;
    }
    .navbar-toggler {
        margin-right: -69px;
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: #7e69e6;
        border: 1px solid transparent;
        border-radius: .25rem;
    }
    /* Carousel */
    .carousel-bg {
        background-size: inherit;
        background-repeat: none;
        background-position: center;
        height: 700px;
        background-image: url(../img/b1.jpg);
    }
    #myCarousel .container {
        padding-top: 100px;
    }
    .block-3 h2 {
        color: rgb(255, 255, 255);
        letter-spacing: 4px;
        font-size: 39px;
        padding: 39px 10px;
    }
    .contact-button {
        margin: -120px 0px 0 155px;
    }
    /* number */
    .number-1 h3 {
        font-size: 40px;
        width: 65%;
        line-height: 1.2em;
        width: 90%;
        color: #2c363e;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    }
    /* customer */
    .row-1 p {
        font-size: 15px;
        text-align: center;
        width: 90%;
        line-height: 1.8em;
        letter-spacing: 1px;
    }
    .customer {
        margin-top: -20px;
    }
    .row-2__1,
    .row-2__3,
    .row-2__5 {
        color: white;
        background: #f97c69;
        padding: 15px 15px;
        margin-top: 10px;
    }
    .row-2__2,
    .row-2__4,
    .row-2__6 {
        color: black;
        background: white;
        padding: 15px 15px;
        margin-top: 10px;
    }
    /* service */
    .row-1 h2 {
        font-size: 50px;
        margin-top: -30px;
    }
    .row-2 {
        width: 95%;
        margin-top: -40px;
    }
    .mainSevices {
        background-image: url(../img/3.jpg);
        background-size: cover;
        background-repeat: none;
        height: 1368px;
        margin-top: 60px;
    }
    /* contact */
    .our-Link h2 {
        font-size: 1.7em;
        color: #f97c69;
        margin-bottom: 1.5em;
        letter-spacing: 2px;
        margin-top: 30px;
    }
    .contact-Us h2 {
        margin-top: 30px;
    }
}

.movie__item {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.movie__detail {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    left: 0;
    opacity: 0;
    transition: all 0.3s;
}

.movie__item:before {
    content: '';
    position: absolute;
    top: 0;
    left: -400%;
    transform: skewX(45deg);
    width: 800px;
    height: 100%;
    background: linear-gradient(to bottom, #fbbd61, #ec7532);
    transition: all 0.5s;
}

.movie__item:hover:before {
    left: -100%;
}